
.main  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main section {
    width: auto;
    color: #7F4901;
}



.main #login-form, #create-form {
    color: #7F4901;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

